@use '@/style/variables' as *;
@use '@/style/mixins/components' as *;

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 10px;
  background: $color-secondary;
  width: 293px;
  // height: 454px;

  @include media('M') {
    padding: 25px 45px;

    width: 400px;
    // height: 440px;
  }
  @include media('L') {
    padding: 28px 80px;

    width: 600px;
    // height: 504px;
  }

  &__loading {
    position: absolute;
    top: 60px;
    right: 100px;
    text-align: center;
    @include media('M') {
      right: 165px;
      font-size: 16px;
    }
    @include media('L') {
      right: 255px;
      font-size: 20px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &__show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__closeBtn {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    width: 20px;
    height: 20px;
  }
  &__title {
    text-align: center;
    font-family: $font-accent;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
    @include media('M') {
      margin-bottom: 20px;
    }
    @include media('L') {
      font-size: 28px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include media('L') {
      gap: 30px;
    }
  }
  &__label {
    font-weight: 500;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    @include media('M') {
      font-size: 14px;
    }
  }
  &__input {
    width: 100%;
    height: 40px;
    background: #e4e4e4;
    border: none;
    border-radius: 10px;
    outline: none;
    padding-left: 20px;

    @include media('L') {
      height: 50px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 8px;
    text-align: center;
    @include media('M') {
      font-size: 10px;
    }
  }
  &__loginLink {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    border: none;
    background: none;
    padding: 0;
    font-size: 8px;
    @include media('M') {
      font-size: 10px;
    }
  }

  &__btn {
    display: flex;

    justify-content: center;
    margin-bottom: 15px;

    @include media('L') {
      margin-top: 5px;
    }
  }

  &__btnModal {
    @include btn-main(10px 20px, 12, $family: $font-main, $weight: 500);
    font-size: 14px;
    width: 114px;
  }

  &__login-title {
    margin-bottom: 70px;
  }

  &__login-btn {
    margin-top: 10px;
  }
}
