@use '../variables' as *;
@mixin btn($padding, $size: 10px, $family: $font-main, $weight: 500) {
  background-color: $color-primary;
  font-size: $size;
  color: $color-main;
  padding: $padding;
  border: none;
  transition: all 0.3s;
  &:hover,
  &:focus {
    box-shadow: 2px 2px 3px grey;
  }
}
@mixin btn-main($padding, $size, $family: $font-main, $weight: 500) {
  @include btn($padding, $size, $family, $weight);
  border-radius: 10px;
}
@mixin btn-content($padding, $size, $family: $font-main, $weight: 500) {
  @include btn($padding, $size, $family, $weight);
  border-radius: 5px;
}
@mixin section-padding-top(
  $padding-top-def: 35px,
  $padding-top-mob: 45px,
  $padding-top-tab: 50px,
  $padding-top-desk: 80px
) {
  padding-top: $padding-top-def;

  @include media('S') {
    padding-top: $padding-top-mob;
  }
  @include media('M') {
    padding-top: $padding-top-tab;
  }
  @include media('L') {
    padding-top: $padding-top-desk;
  }
}

@mixin margin-center {
  margin: 0 auto;
}
@mixin flex-center($justify-content: center, $align-items: center, $display: flex) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin media($breakpoint) {
  @if $breakpoint == 'S' {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $breakpoint == 'M' {
    @media (min-width: 834px) {
      @content;
    }
  } @else if $breakpoint == 'L' {
    @media (min-width: 1440px) {
      @content;
    }
  }
}
