@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$color-main: #000;
$color-secondary: #fff;
$color-muted: #ababab;
$color-primary: #ffb36c;
$color-backdrop: #e8e8e8;
$color-content-backdrop: #d9d9d9;
$color-search-input: #878787;

$font-main: 'Montserrat', sans-serif;
$font-accent: 'Montserrat Alternates', sans-serif;