@use './variables' as *;
@use './mixins/components' as *;
@import './reset.css';
* {
  box-sizing: border-box;
}
html {
  color: $color-main;
  font-family: $font-main;
  font-weight: 500;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
button {
  cursor: pointer;
}
.button--primary {
  @include btn-content(6px 11.5px, 9px);
  @include media('L') {
    @include btn-main(8px 18px, 10px);
  }
}

.button--primary {
  @include btn-content(6px 11.5px, 9px);
  @include media('L') {
    @include btn-main(8px 18px, 10px);
  }
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;

  @include media('S') {
    width: 380px;
    padding-left: 0;
    padding-right: 0;

    @include media('M') {
      width: 634px;
    }

    @include media('L') {
      width: 1140px;
    }
  }
}

a {
  color: #000;

  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

.swiper-slide {
  width: 381px !important;
}

.recharts-wrapper,
.recharts-surface {
  outline: none !important;
}
